
body {
    background-color: #252525 !important;
}


ul {
    list-style: none;
    margin: 0;
    padding: 88;
    font-size: 28px; font-family: Helvetica Neue; font-weight: 400;
    padding-top: 60px;
    display: inline-block;
    color: #D1D1D1;
}

li {
    display:inline-block;
    padding: 90px;
    font-size: 20px;
    padding-top: 30px;
}

ul li:hover {
    color: #FFA7FB;
}

p {
    color:#D1D1D1;
    padding-left: 120px;
    padding-top: 130px;
    padding-bottom: 0px;
    font-size: 20px;

}


h1 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFA7FB;
    padding-left: 120px;
    font-weight: bold;
    padding-top: 120px;

}

p2 {
    color:#D1D1D1;
    padding-left: 120px;
    padding-top: 130px;
    padding-bottom: 0px;

}

h2 {
    font-size: 60pxx;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFA7FB;
    padding-left: 120px;
    font-weight: bold;
    padding-top: 120px;

}

#bold {
    font-weight: bold;
    font-size: 80px;
    padding-top: 70px;
}

#bold2 {
    font-weight:bold;
    font-size: 25px;
}

#nobold {
    font-weight: 300;
}


#bump {
    padding-top:90px;

}

#white {
    color:#D1D1D1
}

#italic {
    font-weight: bolder;
    color:#FFA7FB;
    font-size: 50px;
}

footer li {
    padding: 90px;
    font-size: 20px;
    padding-top: 30px;
    color: #D1D1D1;
    padding-left:130px;
}

footer li:hover {
    color: #FFA7FB;
}

#big {
    font-size: 150px;
}